.backgroundContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/login.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
